@tailwind base;
@tailwind components;
@tailwind utilities;

.box-grid {
  background-color: #F3F2DB;
  background-image: 
    linear-gradient(to right,#aaa7a7 1px, transparent 1px),
    linear-gradient(to bottom, #aaa7a7 1px, transparent 1px);
  background-size: 40px 40px;
}

/* Animasi untuk slide-up */
@keyframes slide-up {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-up {
  animation: slide-up 1.5s ease-out forwards;
}

/* Animasi untuk slide-down */
@keyframes slide-down {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-down {
  animation: slide-down 1.5s ease-out forwards;
}

@keyframes slide-left {
  from {
    transform: translateX(-20px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-left {
  animation: slide-left 1.5s ease-out forwards;
}

/* Animasi untuk fade-in */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 2s ease-out forwards;
}
